.jumbotron {
	height: 25vh;
	border-radius: 0 !important;
	margin-top: 80px;
	background-image:  url('../images/bg-pixel.png'), url('../images/books.png');
	background-repeat: repeat, repeat;
	background-size: auto, contain;
	background-attachment: scroll, fixed;
}

.navbar {
	margin: 0;
	border-radius: 0;
}

.navbar-inner {
	min-height: 0;
}

.navbar-default {

}

.navbar-brand,
.navbar-nav li a {
	line-height: 80px;
	height: 80px;
	padding-top: 0;
}

.search-form > .form-group {
	margin-top: 16px;
}

input, select, textarea,
.btn, .alert, .modal-content, .panel, .progress,
select.form-control + .chosen-container.chosen-container-single, .chosen-choices, .chosen-single, .chosen-drop,
.file-caption {
	border-radius: 0 !important;
}

.delete {
	margin: 0 20px;
}

.download {
	margin-left: 20px;
}

.to-archive {
	margin-right: 20px;
}

footer {
	background-color: #ECF0F1;
	border-top: 1px solid #BDC3C7;
	min-height: 30vh;
	margin-top: 30vh;
}

body {

}

.margin-top-10 {
	margin-top: 10vh;
}

.fos-error-container {
	padding: 8px;
	margin-bottom: 20px;
}

dd {
	border-bottom: 1px solid #ECF0F1;
	margin-top: 4px;
	margin-bottom: 20px;
}

dd a {
	text-decoration: none !important;
}

.cloud {
	min-height: 100px;
}

.badge-active {
	background-color: #2ECC71;
}

.bordered-right {
	border-right: 1px solid #ECF0F1;
}

.back-to-top {
	position: fixed;
	bottom: 40px;
	right: 10px;
	display:none;
	outline: none;
}
