.jumbotron {
	height: 25vh;
	border-radius: 0 !important;
	margin-top: 80px;
	background-image:  url('../images/bg-pixel.png'), url('../images/books.png');
	background-repeat: repeat, repeat;
	background-size: auto, auto;
	background-attachment: scroll, fixed;
}

@media (max-width: 1050px) {
	.jumbotron {
		background-repeat: repeat, no-repeat;
		background-size: auto, cover;
	}

	.navbar-form {
		display: none;
	}
}

.table-responsive
{
	overflow-x: auto;
}

.navbar {
	margin: 0;
	border-radius: 0;
}

.navbar-inner {
	min-height: 0;
}

.navbar-default {

}

.navbar-brand,
.navbar-nav li a {
	line-height: 80px;
	height: 80px;
	padding-top: 0;
}

@media (min-width: 992px) {
	.modal-open[style] {
		padding-right: 0 !important;
	}

	.modal-open {
		overflow: auto;
	}
}

.search-form > .form-group {
	margin-top: 16px;
}

input, select, textarea,
.btn, .alert, .modal-content, .panel, .progress,
select.form-control + .chosen-container.chosen-container-single, .chosen-choices, .chosen-single, .chosen-drop,
.file-caption {
	border-radius: 0 !important;
}

.delete, .to-list {
	margin: 0 20px;
}

a.delete {
	color: #FF2C00 !important;
	opacity: 0.7;
	cursor: pointer;
}

a.delete:hover {
	opacity: 1;
}

.download {
	margin-left: 20px;
}

.to-archive {
	margin-right: 20px;
}

footer {
	background-color: #ECF0F1;
	border-top: 1px solid #BDC3C7;
	min-height: 30vh;
	margin-top: 30vh;
}

body {

}

.margin-top-10 {
	margin-top: 10vh;
}

.fos-error-container {
	padding: 8px;
	margin-bottom: 20px;
}

dd {
	border-bottom: 1px solid #ECF0F1;
	margin-top: 4px;
	margin-bottom: 20px;
}

dd a {
	text-decoration: none !important;
}

.cloud {
	min-height: 100px;
}

.badge-active {
	background-color: #2ECC71;
}

.bordered-right {
	border-right: 1px solid #ECF0F1;
}

.back-to-top {
	position: fixed;
	bottom: 40px;
	right: 10px;
	display:none;
	outline: none;
}

.error-title {
	margin-top: 25vh;
	font-size: 150px;
	color: #48484c;
}

.error-message {
	font-size: 30px;
	color: #48484c;
}

mark{
	background-color: #2980B9;
	color: #FFF;
}

.add_file_link {
	margin: 0 20px;
}

a.remove_file_link, a.remove_stored_file {
	text-decoration: none;
	color: #FF2C00 !important;
	opacity: 0.7;
}

a.remove_file_link {
	position: relative;
	top: -40px;
	right: -30px;
}

a.remove_file_link:hover, a.remove_stored_file:hover {
	opacity: 1;
}