/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/node_modules/
/.idea/*
/frontend/sass/cache/
/web/assets/css/style.css
/web/assets/js/main.js
/frontend/sass/compiled.css
/web/assets/fonts/glyphicons-halflings-regular.eot
/web/assets/fonts/glyphicons-halflings-regular.svg
/web/assets/fonts/glyphicons-halflings-regular.ttf
/web/assets/fonts/glyphicons-halflings-regular.woff
/web/assets/fonts/glyphicons-halflings-regular.woff2
/frontend/typescript/output.js
