$turquoise: #1ABC9C;

$green-sea: #16A085;

$emerald: #2ECC71;

$nephrits: #27AE60;

$peter-river: #3498DB;

$belize-hole: #2980B9;

$amethyst: #9B59B6;

$wisteria: #8E44AD;

$wet-asphalt: #34495E;

$midnight-blue: #2C3E50;

$sun-flower: #F2C81E;

$orange: #F39E18;

$carrot: #E98B39;

$pumpkin: #E35B00;

$alizarin: #EA6153;

$pomegranate: #C0392B;

$clouds: #ECF0F1;

$silver: #BDC3C7;

$concrete: #95A5A6;

$asbestos: #7F8C8D;

$white: #FFF;